.main {
  background: #4e97fe; 
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #635c65;
  font-family: "Arabic", sans-serif;
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #ffbe00;
  line-height: 24px;
}
.main form {
  display: flex;
  gap: 10x;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 2px solid #f6ab3c;
  border-radius: 1px;
  margin-bottom: 12px;
  outline-color: #ffbe00;
  background: #ffffff;
  color: #635c65;
  width: 100%;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: white;
  background-color: #f6ab3c;
  border: 2px solid #f6ab3c;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
}

.main .chat {
  max-width: 600px;
}

.main .chatDisplay {
  background: #ffffff;
  font-size: 18px;
  text-align: left;
  height: 400px;
  border-radius: 1px;
  border: 2px solid #f6ab3c;
  outline-color: #ffbe00;
  margin-bottom: 12px;
  padding: 6px;
  overflow-y: auto;
  color: #635c65;
}

.message {
  display: flex;
  margin: 4px 0px;
}
.messageName {
  display: inline;
  font-weight: bold;
  padding-left: 10px;
}
.messageContent {
  display: inline;
  margin-left: 10px;
}

